.app {
  text-align: center;
}

.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  margin-bottom: 10px;
}

.app-logo-static {
  height: 80px;
  margin-bottom: 10px;
}

.app-header {
  background-color: #53626b;
  height: 200px;
  padding: 20px;
  color: white;
}

.app-title {
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
}

.init-loading {
  margin-top: 50px;
}

.map {
  width: 100%;
  height: calc(100vh - 200px);
}

.row-margin {
  margin: 25px;
}

.no-padding {
  padding: 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

